<script type="text/javascript">
    $(document).ready(function() {
		if (Math.random() > 0.5) {
			$('body').css('background-image', 'url(/background1.jpg)');
		}
    });
</script>


<div id="white-container">
	<h1><a href="/"><img src="/logo.png" alt="Stuff Mapper" id="logo" /></a></h1>

	<div class="big-container">
		As we build the most environmentally competent and intuitive way for people to exchange free stuff such as couches, TVs, and pianos...
	</div>

	<div id="blue-container">
		<h2>Your Email Gives Us Reason to Live!</h2>
        
        <% if flash[:notice] -%>
          <p class="notice"><%=h flash[:notice] %></p>
        <% end -%>
        
		<%= form_for :comment, url: comments_path do |f| %>
			<%= f.text_field :email , :placeholder => "Email" %>
			<%= f.submit "Submit" %>
		<% end %>

		<div id="asure">
			It's safe with us. We won't share it with anyone.
		</div>

		<% if @comment.errors.any? %>
		  <div id="error_explanation">
			<h3><%= pluralize(@comment.errors.count, "error") %> prohibited
			  this comment from being saved:</h3>
			<ul>
			<% @comment.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
			</ul>
		  </div>
		<% end %>
	</div>

	<div class="big-container">
		You could be a part of a movement that puts you, your friends, and your neighbors at the heart of positive environmental change!
    </div>

	<div class="big-container">
		And we'll email you when we are ready to show how our mobile app and website help you find what you need and list what you don't, in the easiest, fastest way.
    </div>

	<div class="big-container">
		People and the Environment win big as free stuff is reused and repurposed.
    </div>

    <div class="big-container">
        <a href="http://bit.ly/funstuffsurvey" target="_blank">Take a fun survey to influence the direction of our movement!</a>
    </div>

    <div class="big-container centered">
        Connect with us 
        <a href="https://www.facebook.com/pages/Stuffmapper/818282298199034" target="_blank"><i class="fa fa-facebook-square" title="Facebook"></i></a>
        <a href="https://twitter.com/StuffMapper" target="_blank"><i class="fa fa-twitter-square" title="Twitter"></i></a>
        <a href="mailto:stuffmapper@gmail.com"><i class="fa fa-envelope" title="Email"></i></a>
    </div>

</div>
